@import url(fonts.css);
body {
    border: none;
    background-color: #0e1f27;
}

.wrapper-outer {
    margin-top: -2px;
    max-width: 1600px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin: 0 auto;
    .wrapper-inner {
        margin: 0 auto;
        width: 69.375%;
    }
}

.main-content {}

.section-header {
    overflow:hidden;
    position: relative;
    z-index: 999999;
}

.header-wrapper {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-logo {
        flex-grow: 1;
    }
    .header-contact {
        display: flex;
        align-items: center;
        .contact-data {
            margin-right: 4px;
            color: #cc6600;
            .contact-data__phone {
                font-family: ArialNarrow, Helvetica, sans-serif;
                font-size: 14px;
            }
            .contact-data__email {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
    .header-login {
        margin-left: 33px;
        a {
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #bbbdbe;
            text-decoration: none;
            border: 3.15px solid #3c96c8;
            border-radius: 10px;
        }
    }
}
.bgtop{
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #0a1215;
    
    height: 903px;
}
.section-first-screen {
    position: relative;
    z-index: 9000;
    margin-top: -93px;
    height: 906px;
    background: url(../image/main_bg.jpg) center center no-repeat ;
    // background-size: cover;      
    .wrapper-inner{
       
    }
}

.first-screen {
    .menu-core {
        display: flex;
        justify-content: center;
        .menu-core__logo {
            svg{
                #tahograf-img{
                    transition: visibility 1s;  
                }
            }
            
            position: absolute;
            width: 157px;
            height: 133px;
            margin-top: 420px;
            background: url(/image/core-menu-logo.png) center center no-repeat;
        }
        svg {
            margin-top: 135px;
            margin-left: -30px;
        }
    }
   
    .swap-button {
        position: absolute ;
        
        margin-top: 23px;
        right: 300px;
        // display: flex;
        // justify-content: flex-end;
        z-index: 9999;
        .swap-button__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 56px;
            height: 56px;
            border:2px solid #3f4c54;
            border-radius: 50px;
            
            #scroll_top{
                visibility: hidden;  
                span{
                    img{
                        opacity: 0.2;
                    }
                }
            }
            #scroll_bottom{
                span{
                    img{
                        opacity: 0.2;
                    }
                }
            }
            &:hover {
                transition: 1s;
                border:2px solid #bbbdbe;
                border-radius: 50px;
                transition: 0.9;

                #scroll_top{
                    transition: 1s;
                    span{
                        img{
                            opacity: 1;
                        }  
                    }
                    
                }
                #scroll_bottom{
                    transition: 1s;
                        span{
                            img{
                                opacity: 1;
                            }
                            
                        
                    }
                }  
            }
           
        }

    }
    
    .stickytop {
        position:fixed;
        top:0; 
        right: 3px;      
        .swap-button__item{
        #scroll_top{
            visibility: visible;
        }
        }


    } 
}

.section-hot-offers {
    background-color: #0e1f27;
    padding-bottom: 50px;
}

.hot-offers {
    padding-bottom: 50px;
    height: 450px;
    max-width: 100%;
    .hot-offers__title {
        padding-top: 82px;
        color: #bbbdbe;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
    }
    .hot-offers__slider {
        display: flex;
        justify-content: center;
        div > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets > span.swiper-pagination-bullet{
            background:#0e1f27;
            border: 2px solid #3c96c8;           
        }
        div > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets > span.swiper-pagination-bullet.swiper-pagination-bullet-active{
               background:#0e1f27;
               border: 2px solid #a5a9aa;
            }        
        .swiper{
            width: 1115px;
            height: 270px;

            .swiper-pagination{
                
                .swiper-pagination-bullets{
                    .swiper-pagination-bullet-active{
                        
                    }
                }
            }
        }
    }
}
// Секция с ноутбуком
.section-all-control {
    height: 900px;
    background: url(/image/all-controll-bg-v1.png) center right 15px no-repeat #0e1f27;
    .wrapper-inner {
        .all-controll-wrapper {
            .all-control__title {
                padding-top: 100px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 24px;
                text-align: center;
                color: #3584b0;
            }
            .all-control__content {
                margin: 50px auto 0 auto;
                height: 543px;
                 max-width: 944px;
                background: url(/image/all-controll-PC.png) center center no-repeat;
                text-align: center;
                img {
                    margin-top: 30px;
                    max-width:100%;
                    height:auto;
                    
                }
            }
        }
    }
}

.section-referent {
    height: 1180px;
    background-color: #0e1f27;
    .wrapper-inner {
        .referent-wrapper {
            color: #bbbdbe;
            .referent__title {
                padding-top: 100px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 36px;
                text-align: center;
            }


            .referent-content {
               overflow:hidden;
                
                .referent-content-wrapper { 
                    display: grid;
                    max-width: 1110px;
                    padding-left: 50px;
                    

                    .referent-content-rowone{
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        
                        .referent-image1{

                            padding-left: 44px;
                            max-width: 595px;
                            height: auto;
        
        
                            img{
                                
                                width: 595px;
                                height: 73px;                       
                            }
                        }
                        .referent-image2{
                            margin-left: 95px;
                            width:155px ;
                            height:260px ; 
                            img{
                                width:155px ;
                                height:260px ;                       
                            }
                        }
        
        
                    }
                    .referent-contentrowtwo{
                        display: flex;
                        flex-wrap: wrap;
                        .referent-image3{
                            .referent-content__button-title {
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: bold;
                                font-size: 24px;
                                text-align: left;
                            }
                            .referent-content__button {
                                margin-top: 47px;
                                height: 320px;
                                width: 310px;
                                text-align: center;
                                background: url(/image/referen-button-bg.png) center left 20px no-repeat;
                                a {
                                    img {
                                        padding-top: 75px;
                                    }
                                }
                            }                            
                        }
                        .referent-image4{
                            padding-top: 65px;
                            padding-left: 14px;
                            width: 555px;
                            height: 100px;
                            img{
                                width: 555px;
                                height: 100px;
                            }
                        }                                        
                    }
                    .referent-contentrowthree{
                        margin-top: -180px;
                        padding-left: 270px;
                        .referent-image5{
                            width: 506px;
                            height: 358px;
                            img{
                                width: 506px;
                                height: 358px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.section-contacts {
    overflow:hidden;
    height: 1017px;
    background: url(/image/contacts-bg.png) no-repeat;
    background-position: 350px 20px;
    background-color: #0e1f27;
    .wrapper-inner {
        .contacts {
            display: flex;
            flex-wrap: wrap; 
            .contact-data {
                max-width: 950px;
                color: #bbbdbe;               
                .contact-data__contacts {
                    margin-top: 50px;
                    margin-left: -245px;
                    height: 300px;
                    background: linear-gradient(to right, #255a77, rgba(16, 37, 47, 0.3));
                    .contact-data__contacts-wrapper {
                        margin-left: 300px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        text-align: left;
                        .contacts-title {
                            font-size: 48px;
                        }
                        .contacts-phone {
                            font-size: 24px;
                            margin-top: 35px;
                        }
                        .contactsmail {
                            font-size: 24px;
                        }
                        .contacts-address {
                            font-size: 24px;
                            margin-top: 25px;
                        }
                    }
                }
                .contact-data-contacts__mode {
                    padding-right: 35px;
                    margin-right: 115px;
                    margin-left: -245px;
                    height: 300px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-align: left;
                    background: linear-gradient(to left, #255a77, rgba(16, 37, 47, 0.3));
                    .contact-data-contacts__mode-wrapper {
                        margin-left: 450px;
                        text-align: right;
                        .contact-data-contacts__mode-title {
                            padding-top: 50px;
                            font-size: 48px;
                        }
                        .text1 {
                            font-size: 24px;
                            padding-top: 10px;
                        }
                        .text2 {
                            font-size: 24px;
                        }
                    }
                }
            }
            .contact-map {
                .contact-map-mobile {
                    width: 365px;
                    height: 770px;
                    background: url(/image/Huawei-P8.png) center center no-repeat;
                    .contact-map-wrapper {
                        padding-left: 5px;
                        padding-top: 72px;
                    }
                }
            }
        }
    }
}
.footer-bg{
    border-top: 2px solid #255b78;
    z-index: 1;
    background: linear-gradient(to top, #424e54, rgba(16, 37, 47, 0.3));
    width: 100%;
    height: 380px;
    position: absolute;
    
}
.section-footer {
    overflow:hidden;
    position: relative;
    z-index: 9999;
    
    border-radius: 5px;
    .wrapper-inner {
        .copywrite {
            margin-top: 60px;
            margin-bottom: 20px;
            color: #bbbdbe;
            font-family: ArialNarrow, Helvetica, sans-serif;
            font-weight: regular;
            text-align: left;
            font-size: 18px;
            text-align: center;
        }
        .footer {
            margin-top: 30px;
            color: #bbbdbe;
            display: flex;
            justify-content: space-between;
            a {
                text-decoration: none;
                color: #bbbdbe;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: regular;
                font-size: 16px;
                // line-height: 14px;
            }
            .catalog {
                width: 150px;
                .title {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-align: left;
                    font-size: 16px;
                }
            }
            .cataog2 {
                width: 150px;
            }
            .menu {
                width: 150px;
                .title {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-align: left;
                    font-size: 16px;
                }
            }
            .service {
                width: 150px;
                .title {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-align: left;
                    font-size: 16px;
                }
            }
            .social {
                width: 260px;
                .social-button {
                    .social-button-phone-wrapper {
                        border: 2px solid #477693;
                        border-radius: 5px;
                        padding: 2px 14px;
                        width: 260px;
                        text-align: center;
                        a {
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            text-align: left;
                            font-size: 16px;
                        }
                        img {
                            padding: 3px 0 3px 15px;
                        }
                    }
                    .social-button-wrapper {
                        padding-top: 30px;
                        display: flex;
                        justify-content: space-between;
                        a {
                            div {
                                width: 50px;
                                height: 50px;
                                border: 2px solid #477693;
                                border-radius: 6px;
                                text-align: center;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img {}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    
}