@import url(fonts.css);
body {
    border: none;
}

.wrapper-outer {
    margin-top: -2px;
    max-width: 1600px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin: 0 auto;
    .wrapper-inner {
        margin: 0 auto;
        width: 69.375%;
    }
}

.main-content {}

.section-header {}

.header-wrapper {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-logo {
        flex-grow: 1;
    }
    .header-contact {
        display: flex;
        align-items: center;
        .contact-data {
            margin-right: 4px;
            color: #cc6600;
            .contact-data__phone {
                font-family: ArialNarrow, Helvetica, sans-serif;
                font-size: 14px;
            }
            .contact-data__email {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
    .header-login {
        margin-left: 33px;
        a {
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #bbbdbe;
            text-decoration: none;
            border: 3.15px solid #3c96c8;
            border-radius: 10px;
        }
    }
}

.section-first-screen {
    margin-top: -93px;
    height: 906px;
    background: url(../image/main_bg.png) center center;
    background-size: cover;
}

.first-screen {
    .menu-core {
        display: flex;
        justify-content: center;
        .menu-core__logo {
            position: absolute;
            width: 157px;
            height: 133px;
            margin-top: 420px;
            background: url(/image/core-menu-logo.png) center center no-repeat;
        }
        svg {
            margin-top: 260px;
        }
    }
    .swap-button {
        margin-top: 123px;
        display: flex;
        justify-content: flex-end;
        .swap-button__item {
            width: 56px;
            height: 56px;
            background: url(/image/swap-button-item-passive.png) center center no-repeat;
            &:hover {
                background: url(/image/swap-button-item-active.png) center center no-repeat;
                transition: 0.9;
            }
        }
    }
}

.section-hot-offers {
    background-color: #0e1f27;
    padding-bottom: 50px;
}

.hot-offers {
    padding-bottom: 50px;
    height: 450px;
    max-width: 100%;
    .hot-offers__title {
        padding-top: 82px;
        color: #bbbdbe;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
    }
    .hot-offers__slider {
        display: flex;
        justify-content: center;
        .swiper-container {
            width: 1115px;
            height: 270px;
        }
    }
}

.section-all-control {
    height: 900px;
    background: url(/image/all-controll-bg-v1.png) center right 15px no-repeat #0e1f27;
    .wrapper-inner {
        .all-controll-wrapper {
            .all-control__title {
                padding-top: 100px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 24px;
                text-align: center;
                color: #3584b0;
            }
            .all-control__content {
                margin: 50px auto 0 auto;
                height: 543px;
                width: 944px;
                background: url(/image/all-controll-PC.png) center center no-repeat;
                text-align: center;
                img {
                    margin-top: 30px;
                    height: 450px;
                }
            }
        }
    }
}

.section-referent {
    height: 1050px;
    background-color: #0e1f27;
    .wrapper-inner {
        .referent-wrapper {
            color: #bbbdbe;
            .referent__title {
                padding-top: 100px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 36px;
                text-align: center;
            }
            .referent-content {
                height: 830px;
                background: url(/image/referen-bg.png) center center no-repeat;
                .referent-content-wrapper {
                    padding-top: 230px;
                    padding-left: 50px;
                    .referent-content__button-title {
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        font-size: 24px;
                        text-align: left;
                    }
                    .referent-content__button {
                        margin-top: 47px;
                        height: 320px;
                        width: 310px;
                        text-align: center;
                        background: url(/image/referen-button-bg.png) center left 20px no-repeat;
                        a {
                            img {
                                padding-top: 75px;
                            }
                        }
                    }
                }
            }
        }
    }
}