@media (max-width: 425px) {
  .swap-button {
    top: 480px;
  }
  .bgtop {
    height: 350px;
  }
  .section-header .wrapper-inner {
    min-width: 280px;
  }
  .section-header .wrapper-inner .header-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-header .wrapper-inner .header-wrapper .header-logo {
    text-align: center;
  }
  .section-header .wrapper-inner .header-wrapper .wrapp320 {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-header .wrapper-inner .header-wrapper .wrapp320 .header-contact {
    padding-left: 15px;
    margin-top: 0px;
  }
  .section-header .wrapper-inner .header-wrapper .wrapp320 .header-contact .contact-data {
    display: none;
  }
  .section-header .wrapper-inner .header-wrapper .wrapp320 .header-contact .contact-image {
    margin-top: 0px;
  }
  .section-header .wrapper-inner .header-wrapper .wrapp320 .header-login {
    margin-top: 15px;
    padding-bottom: 15px;
  }
  .section-first-screen {
    margin-top: -105px;
    background-size: cover;
    height: 480px;
    max-width: 320px;
  }
  .section-first-screen .wrapper-inner {
    margin: 0 15px 0 15px;
    width: 290px;
  }
  .section-first-screen .wrapper-inner .first-screen {
    text-align: center;
    width: 290px;
  }
  .section-first-screen .wrapper-inner .first-screen .menu-core {
    width: 290px;
    display: inline-block;
    text-align: center;
  }
  .section-first-screen .wrapper-inner .first-screen .menu-core #mc1 {
    display: none;
  }
  .section-first-screen .wrapper-inner .first-screen .menu-core #mc2 {
    display: block;
  }
  .section-first-screen .wrapper-inner .first-screen .menu-core svg {
    width: 290px;
    height: auto;
  }
  .section-hot-offers .wrapper-inner {
    margin: 0 15px 0 15px;
    width: 290px;
  }
  .section-hot-offers .wrapper-inner .hot-offers .hot-offers__title {
    padding-top: 40px;
  }
  .section-hot-offers .wrapper-inner .hot-offers .hot-offers__slider {
    padding-top: 20px;
    text-align: center;
  }
  .section-all-control {
    height: 450px;
  }
  .section-all-control .wrapper-inner {
    margin: 0 15px 0 15px;
    width: 290px;
  }
  .section-all-control .wrapper-inner .all-controll-wrapper {
    height: 450px;
  }
  .section-all-control .wrapper-inner .all-controll-wrapper .all-control__content {
    padding-top: 15px;
    height: 150px;
  }
  .section-referent {
    height: 1250px;
  }
  .section-referent .wrapper-inner {
    margin: 15px;
    width: 290px;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent__title {
    padding-top: 20px;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content {
    width: 290px;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper {
    padding: 0;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-content-rowone {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-content-rowone .referent-image1 {
    padding: 0;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-content-rowone .referent-image1 img {
    width: 290px;
    height: auto;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-content-rowone .referent-image2 {
    text-align: center;
    margin: 10px 0 0 20%;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-contentrowtwo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-contentrowtwo .referent-image3 .referent-content__button-title {
    text-align: center;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-contentrowtwo .referent-image3 .referent-content__button {
    background-size: contain;
    margin-top: 15px;
    width: 290px;
    height: 290px;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-contentrowtwo .referent-image3 .referent-content__button a img {
    padding-top: 60px;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-contentrowtwo .referent-image4 {
    padding: 0;
    margin-top: 15px;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-contentrowtwo .referent-image4 img {
    width: 290px;
    height: auto;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-contentrowthree {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-contentrowthree .referent-image5 {
    margin-top: 160px;
    width: 290px;
    height: 250px;
  }
  .section-referent .wrapper-inner .referent-wrapper .referent-content .referent-content-wrapper .referent-contentrowthree .referent-image5 img {
    width: 290px;
    height: auto;
  }
  .section-contacts {
    height: 1300px;
  }
  .section-contacts .wrapper-inner {
    margin: 0;
  }
  .section-contacts .wrapper-inner .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-contacts .wrapper-inner .contacts .contact-data .contact-data__contacts {
    padding-left: 40px;
  }
  .section-contacts .wrapper-inner .contacts .contact-data .contact-data__contacts .contact-data__contacts-wrapper {
    text-align: center;
    width: 275px;
    margin-left: 230px;
  }
  .section-contacts .wrapper-inner .contacts .contact-data .contact-data__contacts .contact-data__contacts-wrapper .contacts-title {
    padding-top: 15px;
    font-size: 32px;
  }
  .section-contacts .wrapper-inner .contacts .contact-data .contact-data__contacts .contact-data__contacts-wrapper .contacts-phone {
    margin-top: 15px;
    text-align: center;
  }
  .section-contacts .wrapper-inner .contacts .contact-data .contact-data-contacts__mode {
    padding-left: 40px;
    padding-right: 20px;
    margin-right: 0;
    height: auto;
  }
  .section-contacts .wrapper-inner .contacts .contact-data .contact-data-contacts__mode .contact-data-contacts__mode-wrapper {
    margin-left: 220px;
  }
  .section-contacts .wrapper-inner .contacts .contact-data .contact-data-contacts__mode .contact-data-contacts__mode-wrapper .contact-data-contacts__mode-title {
    padding-top: 15px;
    font-size: 32px;
    text-align: center;
  }
  .section-contacts .wrapper-inner .contacts .contact-data .contact-data-contacts__mode .contact-data-contacts__mode-wrapper .text1 {
    text-align: center;
  }
  .section-contacts .wrapper-inner .contacts .contact-data .contact-data-contacts__mode .contact-data-contacts__mode-wrapper .text2 {
    text-align: center;
  }
  .section-contacts .wrapper-inner .contacts .contact-map {
    margin-left: 6px;
  }
  .section-contacts .wrapper-inner .contacts .contact-map .contact-map-mobile {
    width: 310px;
    background-size: contain;
  }
  .section-contacts .wrapper-inner .contacts .contact-map .contact-map-mobile .contact-map-wrapper {
    padding-top: 110px;
  }
  .section-contacts .wrapper-inner .contacts .contact-map .contact-map-mobile .contact-map-wrapper #map1 {
    display: none;
  }
  .section-contacts .wrapper-inner .contacts .contact-map .contact-map-mobile .contact-map-wrapper #map2 {
    width: 298px;
    height: 550px;
    display: block;
  }
  .footer-bg {
    height: 1110px;
  }
  .section-footer .wrapper-inner {
    margin: 30px auto 0 auto;
  }
  .section-footer .wrapper-inner .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-footer .wrapper-inner .footer .catalog {
    padding-top: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
  }
  .section-footer .wrapper-inner .footer .catalog .title {
    text-align: center;
  }
  .section-footer .wrapper-inner .footer .cataog2 {
    padding-top: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
  }
  .section-footer .wrapper-inner .footer .cataog2 .title {
    text-align: center;
  }
  .section-footer .wrapper-inner .footer .menu {
    padding-top: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
  }
  .section-footer .wrapper-inner .footer .menu .title {
    text-align: center;
  }
  .section-footer .wrapper-inner .footer .service {
    padding-top: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
  }
  .section-footer .wrapper-inner .footer .service .title {
    text-align: center;
  }
  .section-footer .wrapper-inner .footer .social {
    padding-top: 20px;
  }
}
/*# sourceMappingURL=style425.css.map */