.paginations {
  width: 999px;
  margin: 0 auto;
  margin-top: 30px;
  color: #bbbdbe;
}

.section-menu-list {
  margin-top: 35px;
}

.section-menu-list .wrapper-inner .menu-list .menu-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-menu-list .wrapper-inner .menu-list .menu-list-wrapper a {
  color: #bbbdbe;
}

.section-menu-list .wrapper-inner .menu-list .menu-list-wrapper a:hover {
  color: #4baee0;
}

.section-menu-list .wrapper-inner .menu-list .menu-list-wrapper .menu-list__item {
  width: 160px;
  text-align: center;
  color: #bbbdbe;
}

.section-menu-list .wrapper-inner .menu-list .menu-list-wrapper .menu-list__item .item-wrapper .item__image {
  width: 160px;
  border: 3.79px solid #3582ac;
  border-radius: 15px;
  border-image-slice: 1;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #162831;
  background: linear-gradient(340deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-menu-list .wrapper-inner .menu-list .menu-list-wrapper .menu-list__item .item-wrapper .item__image:hover {
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-menu-list .wrapper-inner .menu-list .menu-list-wrapper .menu-list__item .item-wrapper .item__image .item__title {
  padding-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.section-video-recorders-category-info .wrapper-inner .video-recorders-category-info {
  margin-top: 55px;
  color: #bbbdbe;
}

.section-video-recorders-category-info .wrapper-inner .video-recorders-category-info .category-info-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 24px;
}

.section-video-recorders-category-info .wrapper-inner .video-recorders-category-info .category-info-subtitle {
  margin-top: 15px;
  max-width: 600px;
  font-family: NorrowArial, Helvetica, sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
}

.equipment .equipment-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 25px;
  justify-items: center;
}

.equipment .equipment-wrapper a {
  color: #bbbdbe;
}

.equipment .equipment-wrapper a:hover {
  color: #4baee0;
}

.equipment .equipment-wrapper .equipment__item {
  width: 160px;
  text-align: center;
  color: #bbbdbe;
}

.equipment .equipment-wrapper .equipment__item .item-wrapper .item__image {
  width: 160px;
  border: 3.79px solid #3582ac;
  border-radius: 15px;
  border-image-slice: 1;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #162831;
  background: linear-gradient(340deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.equipment .equipment-wrapper .equipment__item .item-wrapper .item__image:hover {
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.equipment .equipment-wrapper .equipment__item .item-wrapper .item__image img {
  max-width: 144px;
}

.equipment .equipment-wrapper .equipment__item .item-wrapper .item__title {
  padding-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

@media (max-width: 920px) {
  .paginations {
    width: 100% !important;
    padding: 0px !important;
    padding-left: 65px !important;
  }
  .equipment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 650px) {
  .menu-list .menu-list-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .equipment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .equipment .equipment-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 430px) {
  .menu-list .menu-list-wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .menu-list .menu-list-wrapper .menu-list__item .item-wrapper a .item__image {
    display: none !important;
  }
  .menu-list .menu-list-wrapper .menu-list__item .item-wrapper a .item__title {
    width: 300px;
    padding-bottom: 10px;
    margin: 5px 0;
    margin-right: -50px;
    border: 3.79px solid #3582ac;
    border-radius: 5px;
    border-image-slice: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #162831;
    background: linear-gradient(340deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
  }
  .menu-list .menu-list-wrapper .menu-list__item .item-wrapper a .item__title:hover {
    background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
  }
  .equipment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .equipment .equipment-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .equipment .equipment-wrapper .equipment__item .item-wrapper a .item__image {
    display: none !important;
  }
  .equipment .equipment-wrapper .equipment__item .item-wrapper a .item__title {
    width: 300px;
    padding-bottom: 10px;
    margin: 5px 0;
    margin-right: -50px;
    border: 3.79px solid #3582ac;
    border-radius: 5px;
    border-image-slice: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #162831;
    background: linear-gradient(340deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
  }
  .equipment .equipment-wrapper .equipment__item .item-wrapper a .item__title:hover {
    background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
  }
}

@media (max-width: 376px) {
  .item__title {
    width: 260px !important;
  }
}

@media (max-width: 320px) {
  .category-info-title {
    margin-left: -20px;
  }
  .item__title {
    width: 220px !important;
  }
}
/*# sourceMappingURL=menu-list.css.map */