.paginations {
    width: 999px;
    margin: 0 auto;
    margin-top: 30px;
    color: #bbbdbe;
}

.section-menu-list {
    margin-top: 35px;
    .wrapper-inner {
        .menu-list {
            .menu-list-wrapper {
                display: flex;
                justify-content: space-around;
                a {
                    color: #bbbdbe;
                    &:hover {
                        color: #4baee0;
                    }
                }
                .menu-list__item {
                    width: 160px;
                    margin: 0 2.5px;
                    text-align: center;
                    color: #bbbdbe;
                    .item-wrapper {
                        .item__image {
                            width: 160px;
                            border: 3.79px solid #3582ac;
                            border-radius: 15px;
                            // border-image: linear-gradient(to right bottom, #0B0E7F, #0B95DD);
                            border-image-slice: 1;
                            height: 160px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background: rgba(22, 40, 49, 1);
                            background: linear-gradient(340deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                            &:hover {
                                background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                                img {}
                            }
                            .item__title {
                                padding-top: 12px;
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-video-recorders-category-info {
    .wrapper-inner {
        .video-recorders-category-info {
            margin-top: 55px;
            color: #bbbdbe;
            .category-info-title {
                padding-bottom: 35px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 36px;
                line-height: 24px;
            }
            .category-info-subtitle {
                margin-top: 15px;
                max-width: 600px;
                font-family: NorrowArial, Helvetica, sans-serif;
                font-weight: regular;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

.equipment {
    // padding: 50px 0px 100px 100px;
    .equipment-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 25px;
        grid-column-gap: 5px;
        justify-items: center;
        a {
            color: #bbbdbe;
            &:hover {
                color: #4baee0;
            }
        }
        .equipment__item {
            width: 160px;
            text-align: center;
            color: #bbbdbe;
            .item-wrapper {
                .item__image {
                    width: 160px;
                    border: 3.79px solid #3582ac;
                    border-radius: 15px;
                    border-image-slice: 1;
                    height: 160px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: rgba(22, 40, 49, 1);
                    background: linear-gradient(340deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                    &:hover {
                        background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                    }
                    img {
                        max-width: 144px;
                    }
                }
                .item__title {
                    padding-top: 12px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 18px;
                }
            }
        }
    }
}

@media (max-width: 920px) {
    .paginations {
        width: 100% !important;
        padding: 0px !important;
        padding-left: 65px !important;
    }
    .equipment {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 650px) {
    .menu-list {
        .menu-list-wrapper {
            flex-wrap: wrap;
        }
    }
    .equipment {
        display: flex;
        justify-content: space-around;
        .equipment-wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 430px) {
    .menu-list {
        .menu-list-wrapper {
            flex-direction: column !important;
            .menu-list__item {
                .item-wrapper {
                    a {
                        .item__image {
                            display: none !important;
                        }
                        .item__title {
                            width: 300px;
                            padding-bottom: 10px;
                            margin: 5px 0;
                            margin-right: -50px;
                            border: 3.79px solid #3582ac;
                            border-radius: 5px;
                            border-image-slice: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background: rgba(22, 40, 49, 1);
                            background: linear-gradient(340deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                            &:hover {
                                background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                            }
                        }
                    }
                }
            }
        }
    }
    .equipment {
        display: flex;
        justify-content: space-between;
        .equipment-wrapper {
            grid-template-columns: 1fr;
            .equipment__item {
                .item-wrapper {
                    a {
                        .item__image {
                            display: none !important;
                        }
                        .item__title {
                            width: 300px;
                            padding-bottom: 10px;
                            margin: 5px 0;
                            margin-right: -50px;
                            border: 3.79px solid #3582ac;
                            border-radius: 5px;
                            border-image-slice: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background: rgba(22, 40, 49, 1);
                            background: linear-gradient(340deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                            &:hover {
                                background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 376px) {
    .item__title {
        width: 260px !important;
    }
}

@media (max-width: 320px) {
    .category-info-title {
        margin-left: -20px;
    }
    .item__title {
        width: 220px !important;
    }
}