    .ourworks-paginations {
        color: white;
        height: 30px;
        display: block;
        width: 100%;
        margin: auto;
    }
    
    .main-content {
        background: url(/image/catcalog_bg.png) top center repeat-y;
    }
    
    .ourworks-main {
        background-color: #0e1f27;
        .ourworks-label-bg {
            margin-top: 27px;
        }
        .section-ourworks-label {
            height: 900px;
            background: url(../image/ourworks-bg.png)center center no-repeat, linear-gradient(to top, rgba(16, 37, 47, 1), rgba(16, 37, 47, 0.2)); //
            background-blend-mode: overlay;
            // background-size: contain;
            .wrapper-inner {
                height: 100%;
                .ourworks {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .ourworks-wrapper {
                        padding-top: 50px;
                        width: 620px;
                        height: 620px;
                        background-color: rgba(21, 37, 45, 0.8);
                        ;
                        border-radius: 50%;
                        border: solid 8px #3681ac;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .ourworks-logo {
                            text-align: center;
                        }
                        .ourworks-title {
                            // padding-top: 20px;
                            text-align: center;
                            color: #bbbdbe;
                            font-family: ArialNarrow, Helvetica, sans-serif;
                            font-size: 58px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .section-ourworks-buttons {
            .wrapper-inner {
                .ourworks-buttons {
                    .ourworks-buttons-wrapper {
                        padding: 250px 0;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 10px 10px;
                        .ourworks-buttons-item {
                            width: 540px;
                            .accordion-item {
                                background-color: transparent;
                                h2 {
                                    button {
                                        background-color: transparent;
                                        height: 93px;
                                        width: 100%;
                                        border: 2px solid #3c96c8;
                                        border-radius: 5px;
                                        color: white;
                                        text-align: center;
                                        color: #bbbdbe;
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-weight: 900;
                                        font-size: 18px;
                                        text-align: center;
                                        &:hover {
                                            transition-duration: .2s;
                                            border: 2px solid white;
                                            outline: none;
                                        }
                                        &:active {
                                            border: 2px solid #3c96c8;
                                            color: #3c96c8;
                                            outline: none;
                                        }
                                        &:focus {
                                            outline: none !important;
                                            border: 2px solid #3c96c8;
                                            color: #3c96c8;
                                            outline: none;
                                        }
                                    }
                                }
                                .accordion-collapse {
                                    .accordion-body {
                                        margin: 0;
                                        padding: 0;
                                        .ourworks-buttons-item__hidden {
                                            padding: 20px 0 10px 0;
                                            .item-hidden-wrapper {
                                                .card-slider {
                                                    padding: 0 23px;
                                                    display: flex;
                                                    flex-direction: row-reverse;
                                                    .cart-slider__nav {
                                                        padding-left: 20px;
                                                        flex-grow: 1;
                                                        display: grid;
                                                        grid-template-columns: 1fr 1fr 1fr;
                                                        grid-gap: 8px 17px;
                                                        height: 55px;
                                                        width: 55px;
                                                        .slider-nav__item {
                                                            cursor: pointer;
                                                            img {
                                                                height: 55px;
                                                                width: 55px;
                                                                border: 2px solid #3c96c8;
                                                            }
                                                        }
                                                    }
                                                    .card-slider__block {
                                                        padding-top: 2px;
                                                        height: 240px;
                                                        width: 275px;
                                                        .swiper-wrapper {
                                                            height: 240px;
                                                            width: 275px;
                                                            .swiper-slide {
                                                                height: 240px;
                                                                width: 275px;
                                                                img {
                                                                    height: 240px;
                                                                    width: 275px;
                                                                    border: 2px solid #3c96c8;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 1287px) {
        .ourworks-buttons {
            padding: 0;
            display: flex;
            justify-content: space-around;
        }
        .section-ourworks-buttons {
            .wrapper-inner {
                .ourworks-buttons {
                    div {
                        .ourworks-buttons-wrapper {
                            grid-template-columns: 1fr !important;
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 610px) {
        .paginations {
            white-space: nowrap;
            max-width: 300px;
        }
        .section-ourworks-label {
            .wrapper-inner {
                .ourworks {
                    .ourworks-wrapper {
                        padding-bottom: 5px;
                        width: 320px !important;
                        height: 320px !important;
                        border-radius: 50%;
                        border: solid 8px #3681ac;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .ourworks-logo {
                            width: 320px;
                            height: 320px;
                            text-align: center;
                            img {
                                width: 65%;
                            }
                        }
                        .ourworks-title {
                            padding-bottom: 27px;
                            text-align: center;
                            color: #bbbdbe;
                            font-family: ArialNarrow, Helvetica, sans-serif;
                            font-size: 36px !important;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .ourworks-buttons {
            padding: 0;
            display: flex;
            justify-content: space-around;
        }
        .section-ourworks-buttons {
            .wrapper-inner {
                .ourworks-buttons {
                    div {
                        max-width: 320px;
                        .ourworks-buttons-wrapper {
                            padding-top: 60px !important;
                            padding-bottom: 60px !important;
                            max-width: 320px;
                            grid-template-columns: 1fr !important;
                            .ourworks-buttons-item {
                                .accordion-item {
                                    h2 {
                                        button {
                                            &:hover {}
                                            &:active {}
                                            &:focus {}
                                        }
                                    }
                                    .accordion-collapse {
                                        .accordion-body {
                                            height: 470px;
                                            .ourworks-buttons-item__hidden {
                                                .item-hidden-wrapper {
                                                    .card-slider {
                                                        flex-direction: column-reverse !important;
                                                        .cart-slider__nav {
                                                            padding: 0px !important;
                                                            padding-top: 10px !important;
                                                            grid-template-columns: 1fr 1fr 1fr 1fr !important;
                                                            grid-gap: 18px !important;
                                                            .slider-nav__item {
                                                                img {}
                                                            }
                                                        }
                                                        .card-slider__block {
                                                            .swiper-wrapper {
                                                                .swiper-slide {
                                                                    img {}
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }