.ourworks-paginations {
  color: white;
  height: 30px;
  display: block;
  width: 100%;
  margin: auto;
}

.main-content {
  background: url(/image/catcalog_bg.png) top center repeat-y;
}

.ourworks-main {
  background-color: #0e1f27;
}

.ourworks-main .ourworks-label-bg {
  margin-top: 27px;
}

.ourworks-main .section-ourworks-label {
  height: 900px;
  background: url(../image/ourworks-bg.png) center center no-repeat, -webkit-gradient(linear, left bottom, left top, from(#10252f), to(rgba(16, 37, 47, 0.2)));
  background: url(../image/ourworks-bg.png) center center no-repeat, linear-gradient(to top, #10252f, rgba(16, 37, 47, 0.2));
  background-blend-mode: overlay;
}

.ourworks-main .section-ourworks-label .wrapper-inner {
  height: 100%;
}

.ourworks-main .section-ourworks-label .wrapper-inner .ourworks {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ourworks-main .section-ourworks-label .wrapper-inner .ourworks .ourworks-wrapper {
  padding-top: 50px;
  width: 620px;
  height: 620px;
  background-color: rgba(21, 37, 45, 0.8);
  border-radius: 50%;
  border: solid 8px #3681ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourworks-main .section-ourworks-label .wrapper-inner .ourworks .ourworks-wrapper .ourworks-logo {
  text-align: center;
}

.ourworks-main .section-ourworks-label .wrapper-inner .ourworks .ourworks-wrapper .ourworks-title {
  text-align: center;
  color: #bbbdbe;
  font-family: ArialNarrow, Helvetica, sans-serif;
  font-size: 58px;
  text-align: center;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper {
  padding: 250px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px 10px;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item {
  width: 540px;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item {
  background-color: transparent;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item h2 button {
  background-color: transparent;
  height: 93px;
  width: 100%;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  color: white;
  text-align: center;
  color: #bbbdbe;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item h2 button:hover {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  border: 2px solid white;
  outline: none;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item h2 button:active {
  border: 2px solid #3c96c8;
  color: #3c96c8;
  outline: none;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item h2 button:focus {
  outline: none !important;
  border: 2px solid #3c96c8;
  color: #3c96c8;
  outline: none;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body {
  margin: 0;
  padding: 0;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body .ourworks-buttons-item__hidden {
  padding: 20px 0 10px 0;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body .ourworks-buttons-item__hidden .item-hidden-wrapper .card-slider {
  padding: 0 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body .ourworks-buttons-item__hidden .item-hidden-wrapper .card-slider .cart-slider__nav {
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px 17px;
  height: 55px;
  width: 55px;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body .ourworks-buttons-item__hidden .item-hidden-wrapper .card-slider .cart-slider__nav .slider-nav__item {
  cursor: pointer;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body .ourworks-buttons-item__hidden .item-hidden-wrapper .card-slider .cart-slider__nav .slider-nav__item img {
  height: 55px;
  width: 55px;
  border: 2px solid #3c96c8;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body .ourworks-buttons-item__hidden .item-hidden-wrapper .card-slider .card-slider__block {
  padding-top: 2px;
  height: 240px;
  width: 275px;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body .ourworks-buttons-item__hidden .item-hidden-wrapper .card-slider .card-slider__block .swiper-wrapper {
  height: 240px;
  width: 275px;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body .ourworks-buttons-item__hidden .item-hidden-wrapper .card-slider .card-slider__block .swiper-wrapper .swiper-slide {
  height: 240px;
  width: 275px;
}

.ourworks-main .section-ourworks-buttons .wrapper-inner .ourworks-buttons .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body .ourworks-buttons-item__hidden .item-hidden-wrapper .card-slider .card-slider__block .swiper-wrapper .swiper-slide img {
  height: 240px;
  width: 275px;
  border: 2px solid #3c96c8;
}

@media (max-width: 1287px) {
  .ourworks-buttons {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-ourworks-buttons .wrapper-inner .ourworks-buttons div .ourworks-buttons-wrapper {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

@media (max-width: 610px) {
  .paginations {
    white-space: nowrap;
    max-width: 300px;
  }
  .section-ourworks-label .wrapper-inner .ourworks .ourworks-wrapper {
    padding-bottom: 5px;
    width: 320px !important;
    height: 320px !important;
    border-radius: 50%;
    border: solid 8px #3681ac;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-ourworks-label .wrapper-inner .ourworks .ourworks-wrapper .ourworks-logo {
    width: 320px;
    height: 320px;
    text-align: center;
  }
  .section-ourworks-label .wrapper-inner .ourworks .ourworks-wrapper .ourworks-logo img {
    width: 65%;
  }
  .section-ourworks-label .wrapper-inner .ourworks .ourworks-wrapper .ourworks-title {
    padding-bottom: 27px;
    text-align: center;
    color: #bbbdbe;
    font-family: ArialNarrow, Helvetica, sans-serif;
    font-size: 36px !important;
    text-align: center;
  }
  .ourworks-buttons {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-ourworks-buttons .wrapper-inner .ourworks-buttons div {
    max-width: 320px;
  }
  .section-ourworks-buttons .wrapper-inner .ourworks-buttons div .ourworks-buttons-wrapper {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    max-width: 320px;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .section-ourworks-buttons .wrapper-inner .ourworks-buttons div .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body {
    height: 470px;
  }
  .section-ourworks-buttons .wrapper-inner .ourworks-buttons div .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body .ourworks-buttons-item__hidden .item-hidden-wrapper .card-slider {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .section-ourworks-buttons .wrapper-inner .ourworks-buttons div .ourworks-buttons-wrapper .ourworks-buttons-item .accordion-item .accordion-collapse .accordion-body .ourworks-buttons-item__hidden .item-hidden-wrapper .card-slider .cart-slider__nav {
    padding: 0px !important;
    padding-top: 10px !important;
    -ms-grid-columns: 1fr 1fr 1fr 1fr !important;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-gap: 18px !important;
  }
}
/*# sourceMappingURL=nashi-raboty.css.map */