.wrapper-outer {
  color: #bbbdbe;
}

.section-services-first .wrapper-inner .services-first {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  color: #bbbdbe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-services-first .wrapper-inner .services-first .services-first__descriptions {
  max-width: 700px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: Regular;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-list .ofers-list__list-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: Regular;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-list .ofers-list-buttons {
  padding-top: 10px;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-list .ofers-list-buttons .ofers-listbuttons__item {
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  height: 45px;
  width: 375px;
  margin-top: 15px;
  padding-left: 7px;
  padding-top: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: Regular;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-list .ofers-list-buttons .ofers-listbuttons__item:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-image {
  padding-left: 70px;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-image img {
  border-radius: 25px;
  -webkit-box-shadow: 7px 0 7px #31333552;
          box-shadow: 7px 0 7px #31333552;
  width: 540px;
  height: 390px;
}

@media (max-width: 1440px) {
  .section-services-first {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .section-services-first .ofers-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-services-first .ofers-wrapper .ofers-image {
    padding: 0 !important;
    text-align: center;
  }
  .section-services-first .ofers-wrapper .ofers-list {
    padding-top: 15px;
  }
  .section-services-first .ofers-wrapper .ofers-list .ofers-list-buttons a .ofers-listbuttons__item {
    text-align: center;
  }
}

@media (max-width: 560px) {
  .section-services-first {
    padding: 0 5px;
  }
  .section-services-first .services-first__descriptions {
    font-size: medium !important;
  }
  .section-services-first .ofers-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-services-first .ofers-wrapper .ofers-image {
    padding: 0 !important;
    text-align: center;
    height: auto !important;
    width: 100% !important;
  }
  .section-services-first .ofers-wrapper .ofers-image img {
    width: 100% !important;
    height: auto !important;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .section-services-first .ofers-wrapper .ofers-list .ofers-list__list-heading {
    padding: 0 20px;
    text-align: center;
    font-size: 20px !important;
  }
  .section-services-first .ofers-wrapper .ofers-list .ofers-list-buttons a .ofers-listbuttons__item {
    height: auto !important;
    padding-bottom: 5px;
  }
}

@media (max-width: 375px) {
  .section-services-first .ofers-wrapper .ofers-image {
    width: 90% !important;
  }
  .section-services-first .ofers-wrapper .ofers-image img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100% !important;
  }
  .section-services-first .ofers-wrapper .ofers-list-buttons a .ofers-listbuttons__item {
    width: 350px !important;
    text-align: center;
    font-size: 16px !important;
  }
}

@media (max-width: 320px) {
  .section-services-first .ofers-wrapper .ofers-list-buttons a .ofers-listbuttons__item {
    width: 310px !important;
    text-align: center;
    font-size: 16px !important;
  }
}

.section-services-video {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 887px;
  background: -webkit-gradient(linear, left top, right top, from(#0e1f27), to(rgba(14, 31, 39, 0.07))), url(/image/serv-video.png) center right no-repeat;
  background: linear-gradient(to right, #0e1f27, rgba(14, 31, 39, 0.07)), url(/image/serv-video.png) center right no-repeat;
  background-size: contain;
}

.section-services-video .wrapper-inner .services-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer {
  max-width: 490px;
  height: 775px;
}

.section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer .video-information__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer .video-information__body {
  max-width: 460px;
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-video .wrapper-inner .services-video .services-video__catalog-button {
  width: 55%;
  padding-top: 35px;
  text-align: center;
}

.section-services-video .wrapper-inner .services-video .services-video__catalog-button .video-catalog-button {
  padding: 15px 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-video .wrapper-inner .services-video .services-video__catalog-button .video-catalog-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

@media (max-width: 1065px) {
  .section-services-video {
    padding-top: 10px;
    height: auto !important;
    padding-bottom: 20px;
    background-size: cover;
  }
  .section-services-video .wrapper-inner .services-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer {
    height: auto;
    max-width: 100%;
  }
  .section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer .video-information__title {
    text-align: center;
  }
  .section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer .video-information__body {
    max-width: 80%;
    text-align: center;
    font-size: large !important;
    margin: 0 auto;
  }
  .section-services-video .wrapper-inner .services-video .services-video__catalog-button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 870px) {
  .section-services-video .wrapper-inner .services-video {
    margin: 0 -10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer {
    height: auto;
    max-width: 100%;
  }
  .section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer .video-information__title {
    text-align: center;
  }
  .section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer .video-information__body {
    max-width: 100%;
    text-align: center;
    font-size: large !important;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer .video-information__body {
    font-size: small !important;
  }
}

@media (max-width: 425px) {
  .section-services-video .wrapper-inner .services-video {
    margin: 0 -15%;
  }
  .section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer .video-information__body {
    font-size: smaller !important;
  }
}

.section-services-monitoring {
  height: 902px;
  background: -webkit-gradient(linear, left top, right top, from(#0e1f27), to(rgba(14, 31, 39, 0.07))), url(/image/serv-monitoring.png) center right no-repeat;
  background: linear-gradient(to right, #0e1f27, rgba(14, 31, 39, 0.07)), url(/image/serv-monitoring.png) center right no-repeat;
  background-size: cover;
}

.section-services-monitoring .wrapper-inner .services-monitoring {
  padding-top: 60px;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-text .information-top-text__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-text .information-top-text__body {
  max-width: 730px;
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-catalog-button .monitoring-catalog-button {
  margin-left: 20px;
  padding: 15px 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-catalog-button .monitoring-catalog-button:hover {
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-buttons {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 450px;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-buttons .information-bottom-button {
  display: block;
  margin-top: 30px;
  width: 377px;
  height: 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 42px;
  font-weight: Regular;
  text-align: center;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-buttons .information-bottom-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-price {
  display: none;
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 430px;
  padding-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-price .information-bottom-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-price .information-bottom-price-wrapper .information-bottom-price-name {
  text-align-last: left;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-price .information-bottom-price-wrapper .information-bottom-price-cost {
  text-align: right;
}

@media (max-width: 1065px) {
  .section-services-monitoring {
    height: auto;
    background-size: cover;
  }
  .section-services-monitoring .wrapper-inner .services-monitoring {
    padding-top: 20px;
  }
  .section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information {
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top {
    max-width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-text .information-top-text__title {
    text-align: center;
  }
  .section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-text .information-top-text__body {
    text-align: center;
  }
  .section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-catalog-button {
    margin-top: 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-catalog-button .monitoring-catalog-button {
    margin: 0;
  }
  .section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom {
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 870px) {
  .section-services-monitoring .wrapper-inner .services-monitoring {
    margin: 0 -10%;
  }
  .section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .section-services-monitoring .wrapper-inner .services-monitoring {
    margin: 0 -15%;
  }
}

@media (max-width: 375px) {
  .section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom {
    width: 300px;
  }
  .section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-buttons .information-bottom-button {
    width: 300px;
    height: auto;
    margin-top: 15px;
  }
}

.section-services-tachographs {
  height: 897px;
  background: -webkit-gradient(linear, left top, right top, from(#0e1f27), to(rgba(14, 31, 39, 0.07))), url(/image/serv-tachographs.png) center right no-repeat;
  background: linear-gradient(to right, #0e1f27, rgba(14, 31, 39, 0.07)), url(/image/serv-tachographs.png) center right no-repeat;
  background-size: contain;
}

.section-services-tachographs .wrapper-inner .services-tachographs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  height: 897px;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation {
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__text {
  max-width: 605px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__text .installation-text__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__text .installation-text__body {
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__button {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__button .installation-button {
  padding: 10px 15px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__button .installation-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog {
  width: 485px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog .tachographs-catalog__button .catalog-button {
  padding: 15px 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog .tachographs-catalog__button .catalog-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog .tachographs-catalog__description {
  padding: 10px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  background-color: rgba(14, 31, 39, 0.9);
}

@media (max-width: 1150px) {
  .section-services-tachographs {
    height: auto;
    background-size: cover;
    padding-bottom: 10px;
  }
  .section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog .tachographs-catalog__description {
    font-size: smaller;
  }
}

@media (max-width: 1065px) {
  .section-services-tachographs {
    height: auto;
  }
  .section-services-tachographs .wrapper-inner .services-tachographs {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation {
    padding: 0;
  }
  .section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__text .installation-text__title {
    text-align: center;
  }
  .section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__text .installation-text__body {
    text-align: center;
  }
  .section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__button .installation-button {
    display: block;
    margin-top: 10px;
  }
  .section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog {
    width: 100%;
    padding: 0;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog .tachographs-catalog__button {
    height: 65px;
  }
  .section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog .tachographs-catalog__button .catalog-button {
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 870px) {
  .section-services-tachographs .wrapper-inner .services-tachographs {
    margin: 0 -10%;
  }
}

.section-services-scoreboards {
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(#0e1f27), to(rgba(14, 31, 39, 0.07))), url(/image/serv-scoreboards.png) center right no-repeat;
  background: linear-gradient(to right, #0e1f27, rgba(14, 31, 39, 0.07)), url(/image/serv-scoreboards.png) center right no-repeat;
  background-size: contain;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information .scoreboards-information-wrappwer {
  max-width: 400px;
  height: 855px;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information .scoreboards-information-wrappwer .scoreboards-information__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information .scoreboards-information-wrappwer .scoreboards-information__body {
  max-width: 460px;
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__catalog-button {
  -webkit-box-flex: 1.6;
      -ms-flex-positive: 1.6;
          flex-grow: 1.6;
  padding-top: 15px;
  text-align: center;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__catalog-button .scoreboards-catalog-button {
  padding: 15px 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__catalog-button .scoreboards-catalog-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

@media (max-width: 1210px) {
  .section-services-scoreboards {
    background-size: cover;
    padding-bottom: 30px;
  }
  .section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information .scoreboards-information-wrappwer {
    height: auto;
  }
}

@media (max-width: 1065px) {
  .section-services-scoreboards .wrapper-inner .services-scoreboards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information .scoreboards-information-wrappwer {
    max-width: 605px;
  }
  .section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information .scoreboards-information-wrappwer .scoreboards-information__title {
    text-align: center;
    max-width: 100%;
  }
  .section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information .scoreboards-information-wrappwer .scoreboards-information__body {
    max-width: 100%;
    text-align: center;
  }
  .section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__catalog-button {
    padding: 30px 0;
  }
}

@media (max-width: 870px) {
  .section-services-scoreboards .wrapper-inner .services-scoreboards {
    margin: 0 -10%;
  }
}

@media (max-width: 425px) {
  .section-services-scoreboards .wrapper-inner .services-scoreboards {
    margin: 0 -15%;
  }
}

.section-services-heaters {
  height: 868px;
  background: -webkit-gradient(linear, left top, right top, from(#0e1f27), to(rgba(14, 31, 39, 0.07))), url(/image/serv-heaters.png) center right no-repeat;
  background: linear-gradient(to right, #0e1f27, rgba(14, 31, 39, 0.07)), url(/image/serv-heaters.png) center right no-repeat;
  background-size: contain;
}

.section-services-heaters .wrapper-inner .services-heaters {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__information {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__information .heaters-information-wrappwer {
  max-width: 495px;
  height: 775px;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__information .heaters-information-wrappwer .heaters-information__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__information .heaters-information-wrappwer .heaters-information__body {
  max-width: 460px;
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__catalog-button {
  -webkit-box-flex: 1.6;
      -ms-flex-positive: 1.6;
          flex-grow: 1.6;
  padding-top: 15px;
  text-align: center;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__catalog-button .heaters-catalog-button {
  padding: 15px 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__catalog-button .heaters-catalog-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

@media (max-width: 1210px) {
  .section-services-heaters {
    height: auto;
    background-size: cover;
  }
  .section-services-heaters .wrapper-inner .services-heaters .services-heaters__information .heaters-information-wrappwer {
    height: auto;
  }
}

@media (max-width: 1065px) {
  .section-services-heaters .wrapper-inner .services-heaters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-services-heaters .wrapper-inner .services-heaters .services-heaters__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-services-heaters .wrapper-inner .services-heaters .services-heaters__information .heaters-information-wrappwer {
    max-width: 605px;
  }
  .section-services-heaters .wrapper-inner .services-heaters .services-heaters__information .heaters-information-wrappwer .heaters-information__title {
    max-width: 100%;
    text-align: center;
  }
  .section-services-heaters .wrapper-inner .services-heaters .services-heaters__information .heaters-information-wrappwer .heaters-information__body {
    max-width: 100%;
    text-align: center;
  }
  .section-services-heaters .wrapper-inner .services-heaters .services-heaters__catalog-button {
    padding: 30px 0;
  }
}

@media (max-width: 870px) {
  .section-services-heaters .wrapper-inner .services-heaters {
    margin: 0 -10%;
  }
}

@media (max-width: 425px) {
  .section-services-heaters .wrapper-inner .services-heaters {
    margin: 0 -15%;
  }
}
/*# sourceMappingURL=services.css.map */