.wrapper-outer {
  color: #bbbdbe;
}

.section-services-first .wrapper-inner .services-first {
  margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: #bbbdbe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-services-first .wrapper-inner .services-first .services-first__descriptions {
  max-width: 700px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: Regular;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-list .ofers-list__list-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: Regular;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-list .ofers-list-buttons {
  padding-top: 10px;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-list .ofers-list-buttons .ofers-listbuttons__item {
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  height: 45px;
  width: 375px;
  margin-top: 15px;
  padding-left: 7px;
  padding-top: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: Regular;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-list .ofers-list-buttons .ofers-listbuttons__item:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-image {
  padding-left: 70px;
}

.section-services-first .wrapper-inner .services-first .ofers-wrapper .ofers-image img {
  width: 540px;
  height: 390px;
}

.section-services-video {
  height: 887px;
  background: -webkit-gradient(linear, left top, right top, from(#0e1f27), to(rgba(14, 31, 39, 0.07))), url(/image/serv-video.png) center right no-repeat;
  background: linear-gradient(to right, #0e1f27, rgba(14, 31, 39, 0.07)), url(/image/serv-video.png) center right no-repeat;
  background-size: contain;
}

.section-services-video .wrapper-inner .services-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer {
  max-width: 490px;
  height: 775px;
}

.section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer .video-information__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.section-services-video .wrapper-inner .services-video .services-video__information .video-information-wrappwer .video-information__body {
  max-width: 460px;
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-video .wrapper-inner .services-video .services-video__catalog-button {
  width: 55%;
  padding-top: 35px;
  text-align: center;
}

.section-services-video .wrapper-inner .services-video .services-video__catalog-button .video-catalog-button {
  padding: 15px 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-video .wrapper-inner .services-video .services-video__catalog-button .video-catalog-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-monitoring {
  height: 902px;
  background: -webkit-gradient(linear, left top, right top, from(#0e1f27), to(rgba(14, 31, 39, 0.07))), url(/image/serv-monitoring.png) center right no-repeat;
  background: linear-gradient(to right, #0e1f27, rgba(14, 31, 39, 0.07)), url(/image/serv-monitoring.png) center right no-repeat;
  background-size: contain;
}

.section-services-monitoring .wrapper-inner .services-monitoring {
  padding-top: 60px;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-text .information-top-text__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-text .information-top-text__body {
  max-width: 730px;
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-catalog-button .monitoring-catalog-button {
  margin-left: 20px;
  padding: 15px 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-catalog-button .monitoring-catalog-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-buttons {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 450px;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-buttons .information-bottom-button {
  display: block;
  margin-top: 30px;
  width: 377px;
  height: 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 42px;
  font-weight: Regular;
  text-align: center;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-buttons .information-bottom-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-price {
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 430px;
  padding-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-price .information-bottom-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-price .information-bottom-price-wrapper .information-bottom-price-name {
  text-align-last: left;
}

.section-services-monitoring .wrapper-inner .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-price .information-bottom-price-wrapper .information-bottom-price-cost {
  text-align: right;
}

.section-services-tachographs {
  height: 897px;
  background: -webkit-gradient(linear, left top, right top, from(#0e1f27), to(rgba(14, 31, 39, 0.07))), url(/image/serv-tachographs.png) center right no-repeat;
  background: linear-gradient(to right, #0e1f27, rgba(14, 31, 39, 0.07)), url(/image/serv-tachographs.png) center right no-repeat;
  background-size: contain;
}

.section-services-tachographs .wrapper-inner .services-tachographs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  height: 897px;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation {
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__text {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__text .installation-text__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__text .installation-text__body {
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__button {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__button .installation-button {
  padding: 10px 15px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-installation .tachographs-installation__button .installation-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog .tachographs-catalog__button .catalog-button {
  padding: 15px 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog .tachographs-catalog__button .catalog-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-tachographs .wrapper-inner .services-tachographs .services-tachographs-catalog .tachographs-catalog__description {
  padding: 10px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  background-color: rgba(14, 31, 39, 0.9);
}

.section-services-scoreboards {
  height: 908px;
  background: -webkit-gradient(linear, left top, right top, from(#0e1f27), to(rgba(14, 31, 39, 0.07))), url(/image/serv-scoreboards.png) center right no-repeat;
  background: linear-gradient(to right, #0e1f27, rgba(14, 31, 39, 0.07)), url(/image/serv-scoreboards.png) center right no-repeat;
  background-size: contain;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information .scoreboards-information-wrappwer {
  max-width: 400px;
  height: 775px;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information .scoreboards-information-wrappwer .scoreboards-information__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__information .scoreboards-information-wrappwer .scoreboards-information__body {
  max-width: 460px;
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__catalog-button {
  -webkit-box-flex: 1.6;
      -ms-flex-positive: 1.6;
          flex-grow: 1.6;
  padding-top: 15px;
  text-align: center;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__catalog-button .scoreboards-catalog-button {
  padding: 15px 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-scoreboards .wrapper-inner .services-scoreboards .services-scoreboards__catalog-button .scoreboards-catalog-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-services-heaters {
  height: 868px;
  background: -webkit-gradient(linear, left top, right top, from(#0e1f27), to(rgba(14, 31, 39, 0.07))), url(/image/serv-heaters.png) center right no-repeat;
  background: linear-gradient(to right, #0e1f27, rgba(14, 31, 39, 0.07)), url(/image/serv-heaters.png) center right no-repeat;
  background-size: contain;
}

.section-services-heaters .wrapper-inner .services-heaters {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__information {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__information .heaters-information-wrappwer {
  max-width: 495px;
  height: 775px;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__information .heaters-information-wrappwer .heaters-information__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__information .heaters-information-wrappwer .heaters-information__body {
  max-width: 460px;
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__catalog-button {
  -webkit-box-flex: 1.6;
      -ms-flex-positive: 1.6;
          flex-grow: 1.6;
  padding-top: 15px;
  text-align: center;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__catalog-button .heaters-catalog-button {
  padding: 15px 47px;
  color: #bbbdbe;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: Regular;
}

.section-services-heaters .wrapper-inner .services-heaters .services-heaters__catalog-button .heaters-catalog-button:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

@media (max-width: 1440px) {
  .section-services-first {
    width: 1440px;
  }
  .section-services-video {
    width: 1440px;
    padding-left: 40px;
  }
  .section-services-monitoring {
    width: 1440px;
    padding-left: 40px;
  }
  .section-services-tachographs {
    width: 1440px;
    padding-left: 40px;
  }
  .section-services-scoreboards {
    width: 1440px;
    padding-left: 40px;
  }
  .section-services-heaters {
    width: 1440px;
    padding-left: 40px;
  }
}

@media (max-width: 1025px) {
  .section-services-first {
    width: 1025px;
  }
  .ofers-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ofers-image {
    padding: 0 40px 30px 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-services-video {
    width: 1025px;
    height: 872px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-services-video .services-video {
    width: 850px;
    margin-left: -40px;
  }
  .section-services-monitoring {
    width: 1025px;
  }
  .section-services-monitoring .services-monitoring {
    width: 750px;
    margin-left: -40px;
  }
  .section-services-monitoring .services-monitoring-information__bottom {
    width: 800px;
    padding-top: 20px !important;
  }
  .section-services-tachographs {
    height: 802px;
    width: 1025px;
  }
  .section-services-tachographs .services-tachographs {
    padding-top: 10px !important;
    width: 950px;
    height: 820px !important;
    margin-left: -150px;
  }
  .section-services-tachographs .services-tachographs .installation-text__body {
    width: 450px;
  }
  .section-services-tachographs .tachographs-catalog__button {
    padding-top: 25px;
  }
  .section-services-tachographs .services-tachographs-catalog {
    height: 700px;
  }
  .section-services-tachographs .installation-button {
    position: absolute;
  }
  .section-services-scoreboards {
    width: 1070px;
    height: 764px;
    margin-left: -40px;
  }
  .section-services-scoreboards .services-scoreboards {
    height: 764px;
  }
  .section-services-heaters {
    width: 1070px;
    height: 740px;
    margin-left: -40px;
  }
  .section-services-heaters .services-heaters {
    padding-top: 20px !important;
    height: 740px;
    width: 740px;
  }
  .section-services-heaters .services-heaters .services-heaters__information .heaters-information-wrappwer .heaters-information__body {
    padding-top: 20px !important;
    line-height: 17.5px !important;
  }
}

@media (max-width: 426px) {
  .section-services-first {
    padding: 0 10px;
    width: 100%;
    height: 1400px;
    margin-left: 0;
  }
  .section-services-first .services-first {
    margin: 0 !important;
  }
  .section-services-first .services-first .ofers-wrapper {
    width: 320px;
  }
  .section-services-first .services-first .ofers-wrapper .ofers-list {
    width: 300px;
  }
  .section-services-first .services-first .ofers-wrapper .ofers-list .ofers-list-buttons a .ofers-listbuttons__item {
    padding-left: 0 !important;
    width: 300px !important;
    height: 70px !important;
    text-align: center;
  }
  .section-services-first .services-first .ofers-wrapper .ofers-list .ofers-list-buttons a .ofers-listbuttons__item span {
    line-height: 47px !important;
  }
  .section-services-first .services-first .ofers-wrapper .ofers-image {
    padding: 0 !important;
    width: 320px;
  }
  .section-services-first .services-first .ofers-wrapper .ofers-image img {
    width: 100% !important;
    height: 100% !important;
  }
  .section-services-video {
    width: 320px;
    margin-left: 0;
    padding: 0 10px;
    height: 1100px;
  }
  .section-services-video .services-video {
    margin: 0;
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-services-video .services-video .services-video__information {
    height: 1050px;
  }
  .section-services-video .services-video .services-video__information .video-information-wrappwer {
    height: 1050px;
  }
  .section-services-video .services-video .services-video__information .video-information-wrappwer .video-information__body {
    width: 300px;
    text-align: center;
  }
  .section-services-video .services-video .services-video__catalog-button {
    padding-top: 20px !important;
    width: 320px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-services-monitoring {
    padding: 0 10px;
    width: 320px;
    height: 1450px;
  }
  .section-services-monitoring .services-monitoring {
    width: 320px;
    height: 1800px;
    margin: 0;
  }
  .section-services-monitoring .services-monitoring .services-monitoring-information {
    width: 320px;
  }
  .section-services-monitoring .services-monitoring .services-monitoring-information .services-monitoring-information__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-services-monitoring .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-text .information-top-text__body {
    width: 300px;
    height: 500px;
    text-align: center !important;
  }
  .section-services-monitoring .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-catalog-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-services-monitoring .services-monitoring .services-monitoring-information .services-monitoring-information__top .information-top-catalog-button .monitoring-catalog-button {
    margin: 0 !important;
  }
  .section-services-monitoring .services-monitoring .services-monitoring-information .services-monitoring-information__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
  .section-services-monitoring .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-buttons .information-bottom-button {
    width: 300px !important;
  }
  .section-services-monitoring .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-price .information-bottom-price-wrapper .information-bottom-price-name {
    font-size: 12px;
  }
  .section-services-monitoring .services-monitoring .services-monitoring-information .services-monitoring-information__bottom .information-bottom-price .information-bottom-price-wrapper .information-bottom-price-cost {
    font-size: 12px;
  }
  .section-services-tachographs {
    padding: 0 10px;
    margin-left: 0;
    width: 320px;
    height: 1900px;
  }
  .section-services-tachographs .services-tachographs {
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1900px;
    width: 320px;
  }
  .section-services-tachographs .services-tachographs-installation .tachographs-installation__text .installation-text__body {
    height: 900px;
    width: 300px;
    text-align: center;
  }
  .section-services-tachographs .services-tachographs-installation .tachographs-installation__button {
    height: 250px;
  }
  .section-services-tachographs .services-tachographs-installation .installation-button {
    position: relative;
    width: 305px;
  }
  .section-services-tachographs .services-tachographs-catalog {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    padding-left: 0 !important;
    margin-left: -10px;
    width: 320px;
  }
  .section-services-tachographs .services-tachographs-catalog .tachographs-catalog__description {
    width: 310px;
  }
  .section-services-scoreboards {
    margin-left: 0;
    padding: 0 10px;
    width: 320px;
    height: 910px;
  }
  .section-services-scoreboards .services-scoreboards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 900px;
    width: 320px;
  }
  .section-services-heaters {
    margin-left: 0;
    padding: 0;
    width: 320px;
    height: 1100px;
  }
  .section-services-heaters .services-heaters {
    padding: 0 10px;
    width: 320px;
    height: 1100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-services-heaters .services-heaters .services-heaters__information {
    height: 1000px;
  }
  .section-services-heaters .services-heaters .services-heaters__information .heaters-information-wrappwer .heaters-information__body {
    text-align: center;
  }
  .section-services-heaters .services-heaters .services-heaters__catalog-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
/*# sourceMappingURL=services.css.map */