.paginations {
    max-width: 999px;
    margin-top: 30px;
    color: #bbbdbe;
    white-space: wrap;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    .catsubtitle {
        white-space: pre-wrap;
    }
}

.section-singl-page {
    margin-top: 35px;
    padding-left: -100px;
    .wrapper-inner {
        .singl-page {
            .singl-page-wrapper {
                display: grid;
                // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
                a {
                    display: flex;
                    justify-content: center;
                    .singl-page__item {
                        width: 160px;
                        text-align: center;
                        color: #bbbdbe;
                        .item-wrapper {
                            .item__image {
                                border: 3.79px solid #3582ac;
                                border-radius: 15px;
                                // border-image: linear-gradient(to right bottom, #0B0E7F, #0B95DD);
                                border-image-slice: 1;
                                height: 160px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                background: rgba(22, 40, 49, 1);
                                background: linear-gradient(340deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                                &:hover {
                                    background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                                }
                                img {
                                    max-width: 145px;
                                }
                            }
                            .item__title {
                                padding-top: 12px;
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-singl-page-category-info {
    .wrapper-inner {
        .singl-page-category-info {
            margin-top: 55px;
            color: #bbbdbe;
            .category-info-title {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 36px;
                line-height: 24px;
            }
            .category-info-subtitle {
                margin-top: 15px;
                max-width: 600px;
                font-family: NorrowArial, Helvetica, sans-serif;
                font-weight: regular;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

.section-singl-page-product-cards {
    .wrapper-inner {
        .singl-page-product-cards {
            color: #bbbdbe;
            margin-top: 60px;
            .product-cards-wrapper {
                height: 340px;
                display: flex;
                .product-cards__body {
                    width: 925px;
                    height: 340px;
                    padding: 10px;
                    border: 2px solid #3c96c8;
                    border-radius: 15px;
                    display: flex;
                    background: rgb(34, 193, 195);
                    background: linear-gradient(94deg, rgba(34, 193, 195, 0.3) 0%, rgba(0, 0, 0, 0.0032387955182072714) 100%);
                    .product-body__image-wrapper {
                        display: flex;
                        .slider {
                            width: 255px;
                            height: 265px;
                            .swiper-wrapper {
                                width: 255px;
                                height: 265px;
                                img {
                                    border-radius: 5px;
                                    width: 255px;
                                    height: 265px;
                                }
                            }
                        }
                        .product-cards__body-image-area {
                            max-width: 90px;
                            padding-left: 20px;
                            flex-grow: 2;
                            display: flex;
                            flex-direction: column;
                            overflow: scroll;
                            &::-webkit-scrollbar {
                                display: none;
                                /*chrome*/
                            }
                            .cards-image {
                                margin-bottom: 11px;
                                width: 72px;
                                height: 72px;
                                // background-color: #fff;
                                border-radius: 15px;
                                img {
                                    border-radius: 15px;
                                    height: 70px;
                                    width: 70px;
                                    &:hover {
                                        border: 1px solid rgba(187, 186, 186, 0.5);
                                    }
                                }
                            }
                        }
                    }
                    .product-cards__body-text-area {
                        min-width: 270px;
                        flex-grow: 1;
                        padding-left: 30px;
                        .body-text-area-title {
                            margin-top: 18px;
                            font-family: ArialNarrow, Helvetica, sans-serif;
                            font-weight: bold;
                            font-size: 30px;
                            line-height: 30px;
                            letter-spacing: 0.03em;
                        }
                        .body-text-area-subtitle {
                            height: 190px;
                            margin-top: 35px;
                            font-family: ArialNarrow, Helvetica, sans-serif;
                            font-weight: regular;
                            font-size: 18px;
                            overflow-y: hidden;
                            overflow-x: hidden;
                            transition: 3s;
                            &:hover {
                                overflow-y: scroll;
                            }
                            &::-webkit-scrollbar {
                                // display: none;
                                /*chrome*/
                                width: 8px;
                            }
                            &::-webkit-scrollbar-track {
                                // background: orange;
                                /* цвет дорожки */
                            }
                            &::-webkit-scrollbar-thumb {
                                background-color: #3c96c1;
                                /* цвет плашки */
                                border-radius: 20px;
                                /* закругления плашки */
                                border: 1px solid #3c96c8;
                                /* padding вокруг плашки */
                            }
                        }
                    }
                }
                .product-cards__buttons {
                    width: 170px;
                    padding: 15px 25px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                    .product-cards__buttons-top {
                        .product-cards-price {
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: regular;
                            font-size: 36px;
                        }
                        .product-cards-order {
                            padding: 0 25px;
                            border: 3px solid #13d313;
                            border-radius: 10px;
                            color: #7fdf78;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            font-size: 24px;
                            &:hover {
                                background-color: rgba(127, 223, 120, 0.3);
                            }
                        }
                    }
                    .product-cards__buttons-bottom {
                        .product-cards-share {
                            .ya-share2__container {
                                .ya-share2__list {
                                    .ya-share2__item {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        .ya-share2__link {
                                            padding: 0;
                                            .ya-share2__badge {
                                                margin-left: -8px;
                                                .ya-share2__icon_more {
                                                    background-image: url(/image/product-cards-share.png);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .ya-share2__popup {
                                width: 115px;
                                height: 115px;
                                top: -65px;
                                left: 40px;
                                background: linear-gradient(to right, rgba(89, 151, 189, 0.6), rgba(14, 31, 39, 0.3));
                                border: 2px solid #3c96c8;
                                .ya-share2__list {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    grid-row-gap: 10px;
                                    .ya-share2__item {
                                        height: 40px;
                                        background-repeat: no-repeat;
                                        background-position: center center;
                                        background-size: contain;
                                        .ya-share2__link {
                                            .ya-share2__badge {
                                                display: none;
                                                .ya-share2__icon {}
                                            }
                                        }
                                    }
                                    .ya-share2__item_service_vkontakte {
                                        background-image: url(/image/vk-share-ico.png);
                                    }
                                    .ya-share2__item_service_facebook {
                                        background-image: url(/image/fb-share-ico.png);
                                    }
                                    .ya-share2__item_service_telegram {
                                        background-image: url(/image/fb-share-ico.png);
                                    }
                                    .ya-share2__item_copy {
                                        background-image: url(/image/copy-share-ico.png);
                                    }
                                }
                                .ya-share2__item {
                                    .ya-share2__icon {
                                        width: 36px;
                                        height: 36px;
                                    }
                                    .ya-share2__title {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .product-cards-specifications {
                            margin-top: 10px;
                            padding: 0px 20px 3px 20px;
                            color: #3c96c8;
                            border: 2px solid #3c96c8;
                            border-radius: 5px;
                            font-family: ArialNarrow, Helvetica, sans-serif;
                            font-weight: bold;
                            font-size: 18px;
                            letter-spacing: 0.5px;
                            &:hover {
                                color: #bbbdbe;
                                background-color: rgba(60, 150, 200, 0.3);
                            }
                        }
                        .product-cards-accessories {
                            margin-top: 15px;
                            padding: 0px 20px 3px 20px;
                            color: #3c96c8;
                            border: 2px solid #3c96c8;
                            border-radius: 5px;
                            font-family: ArialNarrow, Helvetica, sans-serif;
                            font-weight: bold;
                            font-size: 18px;
                            letter-spacing: 0.5px;
                            &:hover {
                                color: #bbbdbe;
                                background-color: rgba(60, 150, 200, 0.3);
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-content {
    background: linear-gradient(to right, #1f4a61, rgba(37, 85, 107, 0.9));
    .modal-title {
        font-size: 24px;
    }
    .send-btn {
        padding: 0 20px;
        border: 3px solid #13d313;
        border-radius: 10px;
        color: #7fdf78;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 24px;
        &:hover {
            background-color: rgba(127, 223, 120, 0.3);
        }
    }
}

.modal-image-slider {
    .modal-dialog {
        .modal-content {
            .modal-header {}
            .modal-body {
                .slider-init-container {
                    .swiper-wrapper {
                        .swiper-slide {
                            img {
                                object-fit: cover;
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .paginations {
        padding-left: 100px;
        max-width: 768px;
        white-space: wrap;
    }
    .main-content {
        .section-singl-page {
            .category-single {
                // width: 1000px;
                padding: 0 15px;
                .singl-page {
                    .singl-page-wrapper {}
                    .subcategory_subtitle {
                        margin: 0 -15%;
                    }
                }
            }
        }
    }
    .singl-page-product-cards {
        margin-left: -60px;
    }
}

@media (max-width: 770px) {
    .paginations {
        padding-left: 100px;
        max-width: 768px;
        white-space: wrap;
    }
    .main-content {
        .section-singl-page {
            .category-single {
                padding: 0 15px;
                .singl-page {
                    .singl-page-wrapper {}
                }
            }
        }
    }
    .section-singl-page-product-cards {
        margin-top: 60px;
        .wrapper-inner {
            .singl-page-product-cards {
                margin-left: -85px;
                height: 450px !important;
                // margin-bottom: 30px !important;
                .product-cards-wrapper {
                    flex-direction: column;
                    .product-cards__body {
                        max-width: 695px;
                        .product-body__image-wrapper {
                            .slider {
                                .swiper-wrapper {
                                    img {}
                                }
                            }
                            .product-cards__body-image-area {}
                            .cards-image {
                                img {}
                            }
                        }
                    }
                }
                .product-cards__body-text-area {
                    height: 340px !important;
                    .body-text-area-title {}
                    .body-text-area-subtitle {}
                }
            }
            .product-cards__buttons {
                margin-top: 5px !important;
                width: 695px !important;
                .product-cards__buttons-top {
                    width: 695px;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    padding: 0 30px;
                    .product-cards-price {
                        padding-right: 25px;
                    }
                    .product-cards-order {
                        height: 43px;
                    }
                }
                .product-cards__buttons-bottom {
                    padding: 0 22px 0 0;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: end;
                    width: 695px;
                    .product-cards-share {
                        .ya-share2__container {
                            .ya-share2__list {
                                .ya-share2__item {
                                    .ya-share2__link {
                                        .ya-share2__badge {
                                            .ya-share2__icon_more {
                                                margin-left: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .ya-share2__popup {
                            width: 195px !important;
                            height: 33px !important;
                            top: 45px !important;
                            left: -160px !important;
                            border-radius: 5px;
                            padding-top: 2px;
                            .ya-share2__list {
                                padding: 0 10px;
                                height: 25px;
                                display: flex !important;
                                justify-content: space-around;
                                .ya-share2__item {
                                    height: 25px !important;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: contain;
                                    .ya-share2__link {
                                        .ya-share2__badge {
                                            display: none;
                                            .ya-share2__icon {}
                                        }
                                    }
                                }
                                .ya-share2__item_service_vkontakte {
                                    background-image: url(/image/fb-share-ico.png);
                                }
                                .ya-share2__item_service_facebook {
                                    background-image: url(/image/fb-share-ico.png);
                                }
                                .ya-share2__item_service_telegram {
                                    background-image: url(/image/fb-share-ico.png);
                                }
                                .ya-share2__item_copy {
                                    background-image: url(/image/fb-share-ico.png);
                                }
                            }
                            .ya-share2__item {
                                .ya-share2__icon {}
                                .ya-share2__title {}
                            }
                        }
                    }
                    .product-cards-specifications {
                        margin: 0 0 0 10px !important;
                    }
                    .product-cards-accessories {
                        margin: 0 !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .paginations {
        padding-left: 20px;
        max-width: 405px;
        white-space: wrap;
    }
    .main-content {
        .section-singl-page {
            .category-single {
                padding: 0 15px;
                .singl-page {
                    .singl-page-wrapper {
                        a {
                            display: flex;
                            justify-content: center;
                            .singl-page__item {
                                .item-wrapper {
                                    margin-left: -60px;
                                    .item__image {
                                        display: none;
                                    }
                                    .item__title {
                                        padding-bottom: 10px;
                                        margin: 5px 0;
                                        margin-right: -50px;
                                        border: 3.79px solid #3582ac;
                                        border-radius: 5px;
                                        border-image-slice: 1;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        background: rgba(22, 40, 49, 1);
                                        background: linear-gradient(340deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                                        &:hover {
                                            background: linear-gradient(140deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .subcategory_subtitle {
                        margin: 0 -20%;
                        text-align: center;
                        h5 {
                            font-size: medium;
                        }
                    }
                }
            }
        }
    }
    .section-singl-page-product-cards {
        margin-top: 60px;
        .wrapper-inner {
            .singl-page-product-cards {
                margin-left: -45px;
                height: 810px !important;
                .product-cards-wrapper {
                    flex-direction: column;
                    .product-cards__body {
                        width: 380px;
                        height: 760px;
                        flex-direction: column;
                        .product-body__image-wrapper {
                            height: 320px;
                            .slider {
                                .swiper-wrapper {
                                    img {}
                                }
                            }
                            .product-cards__body-image-area {}
                            .cards-image {
                                img {}
                            }
                        }
                    }
                }
                .product-cards__body-text-area {
                    .body-text-area-title {}
                    .body-text-area-subtitle {}
                }
            }
            .product-cards__buttons {
                margin-top: 5px !important;
                width: 380px !important;
                .product-cards__buttons-top {
                    width: 380px;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    padding: 0 30px;
                    .product-cards-price {
                        padding-right: 25px;
                    }
                    .product-cards-order {}
                }
                .product-cards__buttons-bottom {
                    padding: 0 22px 0 0;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: end;
                    width: 380px;
                    .product-cards-share {
                        .ya-share2__container {
                            .ya-share2__list {
                                .ya-share2__item {
                                    .ya-share2__link {
                                        .ya-share2__badge {
                                            .ya-share2__icon_more {
                                                margin-left: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .ya-share2__popup {
                            top: 45px !important;
                            width: 194px !important;
                            left: -157px !important;
                            .ya-share2__list {
                                display: flex !important;
                                .ya-share2__item_service_facebook {
                                    .ya-share2__link {
                                        .ya-share2__badge {
                                            .ya-share2__icon {}
                                        }
                                    }
                                }
                            }
                            .ya-share2__item {
                                .ya-share2__icon {}
                                .ya-share2__title {}
                            }
                        }
                    }
                    .product-cards-specifications {
                        margin: 0 0 0 10px !important;
                        padding-left: 18px !important;
                        padding-right: 18px !important;
                    }
                    .product-cards-accessories {
                        margin: 0 !important;
                        padding-left: 18px !important;
                        padding-right: 18px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .paginations {
        padding-left: 20px;
        max-width: 350px;
        white-space: wrap;
    }
    .main-content {
        .section-singl-page {
            .category-single {
                padding: 0 15px;
                .singl-page {
                    .singl-page-wrapper {
                        a {
                            .singl-page__item {
                                .item-wrapper {
                                    margin-left: -40px;
                                    .item__image {}
                                    .item__title {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .section-singl-page-product-cards {
        margin-top: 60px;
        .wrapper-inner {
            .singl-page-product-cards {
                margin-left: -40px;
                .product-cards-wrapper {
                    flex-direction: column;
                    .product-cards__body {
                        max-width: 345px;
                        height: 760px;
                        flex-direction: column;
                        .product-body__image-wrapper {
                            max-height: 320px;
                            .slider {
                                .swiper-wrapper {
                                    img {}
                                }
                            }
                            .product-cards__body-image-area {
                                align-items: end;
                            }
                            .cards-image {
                                img {}
                            }
                        }
                    }
                }
                .product-cards__body-text-area {
                    .body-text-area-title {}
                    .body-text-area-subtitle {}
                }
            }
            .product-cards__buttons {
                margin-top: 5px !important;
                width: 355px !important;
                .product-cards__buttons-top {
                    width: 340px;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    padding: 0 15px;
                    .product-cards-price {
                        padding-right: 25px;
                    }
                    .product-cards-order {}
                }
                .product-cards__buttons-bottom {
                    padding: 0 10px 0 0;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: end;
                    width: 340px;
                    .product-cards-share {
                        .ya-share2__container {
                            .ya-share2__list {
                                .ya-share2__item {
                                    .ya-share2__link {
                                        .ya-share2__badge {
                                            .ya-share2__icon_more {
                                                margin-left: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .ya-share2__popup {
                            width: 178px !important;
                            left: -140px !important;
                            .ya-share2__list {
                                display: flex !important;
                                .ya-share2__item_service_facebook {
                                    .ya-share2__link {
                                        .ya-share2__badge {
                                            .ya-share2__icon {}
                                        }
                                    }
                                }
                            }
                            .ya-share2__item {
                                .ya-share2__icon {}
                                .ya-share2__title {}
                            }
                        }
                    }
                    .product-cards-specifications {
                        margin: 0 0 0 10px !important;
                        padding-left: 10px !important;
                        padding-right: 10px !important;
                    }
                    .product-cards-accessories {
                        margin: 0 !important;
                        padding-left: 10px !important;
                        padding-right: 10px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .paginations {
        padding-left: 20px;
        max-width: 310px;
        white-space: wrap;
        word-wrap: break-word;
    }
    .main-content {
        .section-singl-page {
            .category-single {
                padding: 0 15px;
                .singl-page {
                    .singl-page-wrapper {
                        a {
                            .singl-page__item {
                                .item-wrapper {
                                    margin-left: -50px;
                                    .item__image {}
                                    .item__title {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .section-singl-page-product-cards {
        margin-top: 60px;
        .wrapper-inner {
            .singl-page-product-cards {
                margin-left: -40px;
                .product-cards-wrapper {
                    flex-direction: column;
                    .product-cards__body {
                        max-width: 310px;
                        height: 760px;
                        flex-direction: column;
                        .product-body__image-wrapper {
                            max-height: 320px;
                            .slider {
                                .swiper-wrapper {
                                    img {}
                                }
                            }
                            .product-cards__body-image-area {
                                align-items: end;
                                .cards-image {
                                    img {}
                                }
                            }
                        }
                    }
                }
                .product-cards__body-text-area {
                    .body-text-area-title {}
                    .body-text-area-subtitle {}
                }
            }
            .product-cards__buttons {
                margin-top: 5px !important;
                width: 295px !important;
                .product-cards__buttons-top {
                    width: 295px;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    padding: 0 15px;
                    .product-cards-price {
                        padding-right: 25px;
                    }
                    .product-cards-order {}
                }
                .product-cards__buttons-bottom {
                    padding: 0 10px 0 0;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: end;
                    width: 295px;
                    .product-cards-share {
                        .ya-share2__container {
                            .ya-share2__list {
                                .ya-share2__item {
                                    .ya-share2__link {
                                        .ya-share2__badge {
                                            .ya-share2__icon_more {
                                                margin-left: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .ya-share2__popup {
                            width: 287px !important;
                            left: -250px !important;
                            .ya-share2__list {
                                .ya-share2__item_service_facebook {
                                    .ya-share2__link {
                                        .ya-share2__badge {
                                            .ya-share2__icon {}
                                        }
                                    }
                                }
                            }
                            .ya-share2__item {
                                .ya-share2__icon {}
                                .ya-share2__title {}
                            }
                        }
                    }
                    .product-cards-specifications {
                        margin: 0 0 0 10px !important;
                        padding-left: 5px !important;
                        padding-right: 5px !important;
                        font-size: 16px !important;
                    }
                    .product-cards-accessories {
                        margin: 0 !important;
                        padding-left: 5px !important;
                        padding-right: 5px !important;
                        font-size: 16px !important;
                    }
                }
            }
        }
    }
}