@charset "UTF-8";
.paginations {
  width: 999px;
  margin-top: 30px;
  color: #bbbdbe;
  width: 350px;
}

.section-singl-page {
  margin-top: 35px;
  padding-left: -100px;
}

.section-singl-page .wrapper-inner .singl-page .singl-page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(160px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.section-singl-page .wrapper-inner .singl-page .singl-page-wrapper .singl-page__item {
  width: 160px;
  text-align: center;
  color: #bbbdbe;
}

.section-singl-page .wrapper-inner .singl-page .singl-page-wrapper .singl-page__item .item-wrapper .item__image {
  border: 3.79px solid #3582ac;
  border-radius: 15px;
  border-image-slice: 1;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #162831;
  background: linear-gradient(340deg, rgba(22, 40, 49, 0.1) 0%, rgba(79, 100, 219, 0.1) 30%, rgba(0, 212, 255, 0.3) 100%);
}

.section-singl-page .wrapper-inner .singl-page .singl-page-wrapper .singl-page__item .item-wrapper .item__image img {
  max-width: 145px;
}

.section-singl-page .wrapper-inner .singl-page .singl-page-wrapper .singl-page__item .item-wrapper .item__title {
  padding-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.section-singl-page-category-info .wrapper-inner .singl-page-category-info {
  margin-top: 55px;
  color: #bbbdbe;
}

.section-singl-page-category-info .wrapper-inner .singl-page-category-info .category-info-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 24px;
}

.section-singl-page-category-info .wrapper-inner .singl-page-category-info .category-info-subtitle {
  margin-top: 15px;
  max-width: 600px;
  font-family: NorrowArial, Helvetica, sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards {
  color: #bbbdbe;
  margin-top: 60px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper {
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body {
  width: 925px;
  height: 340px;
  padding: 10px;
  border: 2px solid #3c96c8;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #22c1c3;
  background: linear-gradient(94deg, rgba(34, 193, 195, 0.3) 0%, rgba(0, 0, 0, 0.0032388) 100%);
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-body__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-body__image-wrapper .slider {
  width: 255px;
  height: 265px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-body__image-wrapper .slider .swiper-wrapper {
  width: 255px;
  height: 265px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-body__image-wrapper .slider .swiper-wrapper img {
  border-radius: 5px;
  width: 255px;
  height: 265px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-body__image-wrapper .product-cards__body-image-area {
  max-width: 90px;
  padding-left: 20px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-body__image-wrapper .product-cards__body-image-area::-webkit-scrollbar {
  display: none;
  /*chrome*/
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-body__image-wrapper .product-cards__body-image-area .cards-image {
  margin-bottom: 11px;
  width: 72px;
  height: 72px;
  border-radius: 15px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-body__image-wrapper .product-cards__body-image-area .cards-image img {
  border-radius: 15px;
  height: 70px;
  width: 70px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-body__image-wrapper .product-cards__body-image-area .cards-image img:hover {
  border: 1px solid rgba(187, 186, 186, 0.5);
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-cards__body-text-area {
  min-width: 270px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 30px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-cards__body-text-area .body-text-area-title {
  margin-top: 18px;
  font-family: ArialNarrow, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-cards__body-text-area .body-text-area-subtitle {
  height: 190px;
  margin-top: 35px;
  font-family: ArialNarrow, Helvetica, sans-serif;
  font-weight: regular;
  font-size: 18px;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: 3s;
  transition: 3s;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-cards__body-text-area .body-text-area-subtitle:hover {
  overflow-y: scroll;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-cards__body-text-area .body-text-area-subtitle::-webkit-scrollbar {
  /*chrome*/
  width: 8px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-cards__body-text-area .body-text-area-subtitle::-webkit-scrollbar-track {
  /* цвет дорожки */
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body .product-cards__body-text-area .body-text-area-subtitle::-webkit-scrollbar-thumb {
  background-color: #3c96c1;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
  border: 1px solid #3c96c8;
  /* padding вокруг плашки */
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons {
  width: 170px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-top .product-cards-price {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: regular;
  font-size: 36px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-top .product-cards-order {
  padding: 0 25px;
  border: 3px solid #13d313;
  border-radius: 10px;
  color: #7fdf78;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-top .product-cards-order:hover {
  background-color: rgba(127, 223, 120, 0.3);
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-share .ya-share2__container .ya-share2__list .ya-share2__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-share .ya-share2__container .ya-share2__list .ya-share2__item .ya-share2__link {
  padding: 0;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-share .ya-share2__container .ya-share2__list .ya-share2__item .ya-share2__link .ya-share2__badge {
  margin-left: -8px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-share .ya-share2__container .ya-share2__list .ya-share2__item .ya-share2__link .ya-share2__badge .ya-share2__icon_more {
  background-image: url(/image/product-cards-share.png);
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-share .ya-share2__popup {
  width: 115px;
  height: 115px;
  top: -65px;
  left: 40px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(89, 151, 189, 0.6)), to(rgba(14, 31, 39, 0.3)));
  background: linear-gradient(to right, rgba(89, 151, 189, 0.6), rgba(14, 31, 39, 0.3));
  border: 2px solid #3c96c8;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-share .ya-share2__popup .ya-share2__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-share .ya-share2__popup .ya-share2__item .ya-share2__icon {
  width: 36px;
  height: 36px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-share .ya-share2__popup .ya-share2__item .ya-share2__title {
  display: none;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-specifications {
  margin-top: 10px;
  padding: 0px 20px 3px 20px;
  color: #3c96c8;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: ArialNarrow, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-specifications:hover {
  color: #bbbdbe;
  background-color: rgba(60, 150, 200, 0.3);
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-accessories {
  margin-top: 15px;
  padding: 0px 20px 3px 20px;
  color: #3c96c8;
  border: 2px solid #3c96c8;
  border-radius: 5px;
  font-family: ArialNarrow, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__buttons .product-cards__buttons-bottom .product-cards-accessories:hover {
  color: #bbbdbe;
  background-color: rgba(60, 150, 200, 0.3);
}

.modal-content {
  background: -webkit-gradient(linear, left top, right top, from(#1f4a61), to(rgba(37, 85, 107, 0.9)));
  background: linear-gradient(to right, #1f4a61, rgba(37, 85, 107, 0.9));
}

.modal-content .modal-title {
  font-size: 24px;
}

.modal-content .send-btn {
  padding: 0 20px;
  border: 3px solid #13d313;
  border-radius: 10px;
  color: #7fdf78;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.modal-content .send-btn:hover {
  background-color: rgba(127, 223, 120, 0.3);
}

@media (max-width: 1024px) {
  .paginations {
    padding-left: 100px;
    max-width: 768px;
  }
  .main-content .section-singl-page .category-single {
    padding: 0 15px;
  }
  .singl-page-product-cards {
    margin-left: -60px;
  }
}

@media (max-width: 770px) {
  .paginations {
    padding-left: 100px;
    max-width: 768px;
  }
  .main-content .section-singl-page .category-single {
    width: 1000px;
    padding: 0 15px;
  }
  .section-singl-page-product-cards {
    margin-top: 60px;
  }
  .section-singl-page-product-cards .wrapper-inner .singl-page-product-cards {
    margin-left: -85px;
    margin-bottom: 120px !important;
  }
  .section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-singl-page-product-cards .wrapper-inner .singl-page-product-cards .product-cards-wrapper .product-cards__body {
    max-width: 695px;
  }
  .section-singl-page-product-cards .wrapper-inner .product-cards__buttons {
    margin-top: 5px;
    width: 695px !important;
  }
  .section-singl-page-product-cards .wrapper-inner .product-cards__buttons .product-cards__buttons-top {
    width: 695px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 0 30px;
  }
  .section-singl-page-product-cards .wrapper-inner .product-cards__buttons .product-cards__buttons-top .product-cards-price {
    padding-right: 25px;
  }
  .section-singl-page-product-cards .wrapper-inner .product-cards__buttons .product-cards__buttons-bottom {
    padding: 0 15px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 695px;
  }
  .section-singl-page-product-cards .wrapper-inner .product-cards__buttons .product-cards__buttons-bottom .product-cards-specifications {
    margin: 0 0 0 10px !important;
  }
  .section-singl-page-product-cards .wrapper-inner .product-cards__buttons .product-cards__buttons-bottom .product-cards-accessories {
    margin: 0 !important;
  }
}
/*# sourceMappingURL=singl-page.css.map */